+====================================================================+
|{{ linux_hardening_legal_notice_title | center(68) }}|
+====================================================================+

{{ linux_hardening_legal_notice | wordwrap(70, break_long_words=false) }}

